.header > div:first-child {
    padding: 30px 0 0 30px;
}

.containerInfoPlanet {
    display: flex;
    flex-direction: column;
}

.containerInfoPlanet > div{
   flex-basis: 50%;
    margin: 1rem;
    padding: 1rem;
}

.containerInfoPlanet img {
    width: 100%;
}

.MuiButtonBase-root {
    margin-top: 1rem !important;
}

@media  screen and (min-width: 992px) {
    .containerInfoPlanet {
        flex-direction: row;
    }
}

