header {
    background-image: url("https://www.science-et-vie.com/wp-content/uploads/scienceetvie/2021/07/navigation-comment-reperer-grace-aux-etoiles-meme-plein-jour.jpg");
    height: 200px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2rem;
    padding: 0;
}

li {
    margin: 1rem;
}